absl-py==2.2.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.0
aiohttp-cors==0.8.1
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
asciitree==0.3.3
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
autodistill
autodistill-grounded-sam-2 
autodistill-yolov8
av
beautifulsoup4==4.13.4
blessed==1.21.0
Brotli
cachetools==5.5.2
certifi
cffi==1.15.1
chardet==5.2.0
charset-normalizer
click==8.1.8
cloudpickle
colorful==0.5.6
contourpy
cycler
Cython==0.29.37
daqp==0.7.2
debugpy==1.8.14
decorator==5.2.1
diffusers==0.20.1
dill==0.3.5.1
distlib==0.3.9
dm-control==1.0.9
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
egl_probe==1.0.2
einops==0.4.1
entrypoints==0.4
etils==1.5.2
evdev==1.9.2
exceptiongroup==1.3.0
executing==2.2.0
fasteners==0.15
filelock
fonttools
free-mujoco-py==2.1.6
frozenlist==1.6.0
fsspec==2025.5.1
fvcore
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
glfw==1.12.0
gmpy2
google-api-core==2.24.2
google-auth==2.40.2
googleapis-common-protos==1.70.0
gpustat==1.1.1
grpcio==1.71.0
gym
h5py==3.7.0
hf-xet==1.1.10
huggingface-hub==0.25.2
hydra-core==1.2.0
idna
imagecodecs==2022.9.26
imageio==2.22.0
imageio-ffmpeg==0.4.7
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.1.0
iopath
ipykernel==6.16.0
ipython==8.18.1
jedi==0.19.2
Jinja2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver
labmaze==1.0.6
loguru==0.7.3
lxml==5.4.0
Markdown==3.8
MarkupSafe
matplotlib
matplotlib-inline==0.1.7
-e git+https://github.com/jerryliujy/mimicgen.git@f59fac82bc25ccfae645e22b0ae9f20fb235fac6#egg=mimicgen&subdirectory=mimicgen
mink==0.0.13
monotonic==1.6
mpmath
msgpack==1.1.0
mujoco==3.3.2
multidict==6.4.4
nest-asyncio==1.6.0
networkx
numba
numcodecs==0.10.2
numpy
omegaconf==2.3.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.6.0.66
packaging
pandas==2.2.3
parameterized==0.9.0
parso==0.8.4
pathtools==0.1.2
pexpect==4.9.0
pillow
platformdirs==4.3.8
pluggy==1.6.0
portalocker
prometheus-client==0.13.1
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybullet-svl==3.1.6.4
pycparser
pydantic==2.11.5
pydantic_core==2.33.2
pygame==2.1.2
Pygments==2.19.1
pynput==1.8.1
PyOpenGL==3.1.9
pyparsing
PyQt6==6.7.1
PyQt6_sip
PySocks
pytest==8.4.2
python-dateutil
python-xlib==0.33
pytorchvideo==0.1.5
pytz==2025.2
PyWavelets==1.6.0
PyYAML
pyzmq==26.4.0
qpsolvers==4.8.1
r3m @ https://github.com/facebookresearch/r3m/archive/b2334e726887fa0206962d7984c69c5fb09cceab.tar.gz
ray==2.2.0
referencing==0.36.2
regex==2024.11.6
requests
roboflow
robomimic==0.2.0
-e git+https://github.com/jerryliujy/mimicgen.git@f59fac82bc25ccfae645e22b0ae9f20fb235fac6#egg=robosuite&subdirectory=robosuite
rpds-py==0.25.1
rsa==4.9.1
safetensors==0.6.2
scikit-image==0.19.3
scikit-video==1.1.11
scipy==1.9.1
sentry-sdk==2.29.1
setproctitle==1.3.6
shortuuid==1.0.13
sip
six
scikit-learn
smart-open==7.1.0
smmap==5.0.2
soupsieve==2.7
supervision
stack-data==0.6.3
sympy==1.13.1
tabulate
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor
threadpoolctl==3.6.0
tifffile==2024.8.30
timm==1.0.20
tomli
tornado
tqdm==4.64.1
traitlets==5.14.3
triton==3.1.0
typing-inspection==0.4.1
typing_extensions
tzdata==2025.2
unicodedata2
urllib3
virtualenv==20.31.2
wandb==0.13.3
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
yacs
yarl==1.20.0
zarr==2.12.0
zipp==3.21.0
