defaults:
  - _self_

name: train_action_vq_vae_workspace
_target_: diffusion_policy.workspace.train_action_vq_vae_workspace.TrainActionVqVaeWorkspace

shape_meta:
  # acceptable types: rgb, low_dim
  obs:
    agentview_image:
      shape: [3, 84, 84]
      type: rgb
    robot0_eye_in_hand_image:
      shape: [3, 84, 84]
      type: rgb
    robot0_eef_pos:
      shape: [3]
      # type default: low_dim
    robot0_eef_quat:
      shape: [4]
    robot0_gripper_qpos:
      shape: [2]
  action: 
    shape: [7]
  flow:
    agentview_image:
      shape: [3, 84, 84]
      type: rgb

exp_name: "default"

horizon: 16
n_obs_steps: 2
n_action_steps: 8
n_latency_steps: 0
dataset_obs_steps: ${n_obs_steps}

device: 'cuda'

policy:
  _target_: diffusion_policy.model.action.action_vq_vae.ActionVqVae
  input_dim_h: 16,  # length of action chunk
  input_dim_w: 7,  # action dim
  down_dims: [128, 256],
  n_latent_dims: 512,
  vqvae_n_embed: 32,
  vqvae_groups: 4,
  encoder_loss_multiplier: 1.0,
  act_scale: 1.0,
  use_mlp: true,
  device: ${device}

dataset:
  _target_: diffusion_policy.dataset.robomimic_replay_image_dataset.RobomimicReplayImageDataset
  shape_meta: ${shape_meta}
  dataset_path: data/robomimic/datasets/square_d0/mimicgen/no_noise_flow.hdf5
  horizon: ${horizon}
  pad_before: ${eval:'${n_obs_steps}-1+${n_latency_steps}'}
  pad_after: ${eval:'${n_action_steps}-1'}
  n_obs_steps: ${dataset_obs_steps}
  abs_action: False
  rotation_rep: 'rotation_6d'
  use_legacy_normalizer: False
  use_cache: True
  seed: 42
  val_ratio: 0.02

dataloader:
  batch_size: 64
  num_workers: 8
  shuffle: True
  pin_memory: True
  persistent_workers: False

val_dataloader:
  batch_size: 64
  num_workers: 8
  shuffle: False
  pin_memory: True
  persistent_workers: False

optimizer:
  _target_: torch.optim.Adam
  lr: 1.0e-3
  betas: [0.95, 0.999]
  eps: 1.0e-8
  weight_decay: 1.0e-6

training:
  device: ${device}
  seed: 42
  debug: False
  resume: True
  num_epochs: 1002
  # training loop control
  # in epochs
  checkpoint_every: 1000
  val_every: 1000
  # steps per epoch
  max_train_steps: null
  max_val_steps: null
  # misc
  tqdm_interval_sec: 1.0

logging:
  project: diffusion_policy_debug
  resume: True
  mode: online
  name: ${now:%Y.%m.%d-%H.%M.%S}_${name}_${task_name}
  # name: 2025.10.05-00.04.07_${name}_${task_name}_${exp_name}
  tags: ["${name}", "${task_name}", "${exp_name}"]
  id: null
  group: null

checkpoint:
  save_ckpt: True
  save_specific_steps: [500, 750]  
  topk:
    monitor_key: test_mean_score
    mode: max
    k: 5
    format_str: 'epoch={epoch:04d}-test_mean_score={test_mean_score:.3f}.ckpt'
  save_last_ckpt: True
  save_last_snapshot: False

multi_run:
  run_dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
  # run_dir: data/outputs/2025.10.05/00.04.07_${name}_${task_name}
  wandb_name_base: ${now:%Y.%m.%d-%H.%M.%S}_${name}_${task_name}
  # wandb_name_base: 2025.10.05-00.04.07_${name}_${task_name}_${exp_name}

hydra:
  job:
    override_dirname: ${name}
  run:
    dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
    # dir: data/outputs/2025.10.05/00.04.07_${name}_${task_name}
  sweep:
    dir: data/outputs/${now:%Y.%m.%d}/${now:%H.%M.%S}_${name}_${task_name}
    # dir: data/outputs/2025.10.05/00.04.07_${name}_${task_name}
    subdir: ${hydra.job.num}
